<ion-card *ngIf="amigoShareRequest">

    <ion-item>

        <ion-avatar item-left>
            <ion-icon name="person"></ion-icon>
        </ion-avatar>

        <h2>{{amigoShareRequest.sharedAmigo.name}}</h2>

    </ion-item>

    <ion-card-content>
        <p>
            {{amigoShareRequest.sharedAmigo.name}}
            would like to be your amigo!
        </p>
    </ion-card-content>

    <ion-row>
        <ion-col>

            <button secondary clear small>
                <ion-icon name="remove-circle"></ion-icon>
                <div>Decline</div>
            </button>

            <button primary clear small>
                <ion-icon name="add-circle"></ion-icon>
                <div>Accept</div>
            </button>

        </ion-col>
    </ion-row>

</ion-card>