<ion-header>
    <dose-amigos-toolbar [title]="title"></dose-amigos-toolbar>
</ion-header>

<ion-content padding  class="new-dose-medication">

    <form (ngSubmit)="onSubmit()"
          #requestForm="ngForm">

        <ion-list>

            <ion-item>
                <ion-label floating>
                    Medication Name
                </ion-label>
                <ion-input type="text"
                           [(ngModel)]="doseSeries.med.name"
                           required>
                </ion-input>
            </ion-item>


            <ion-item>
                <ion-label floating>
                    Dose Amount
                </ion-label>
                <ion-input type="number"
                           [(ngModel)]="doseSeries.med.doseAmount"
                           required>
                </ion-input>
            </ion-item>


            <ion-item>
                <ion-label floating>
                    Dose Units (pills, mg, cc, etc.)
                </ion-label>
                <ion-input type="text"
                           [(ngModel)]="doseSeries.med.doseUnit">
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>
                    Days of Week
                </ion-label>
                <ion-select [(ngModel)]="doseSeries.daysOfWeek"
                            multiple="true"
                            cancelText="Cancel"
                            okText="Select">
                    <ion-option *ngFor="let dayOption of daysOfWeekOptions"
                                [value]="dayOption.value">
                        {{dayOption.display}}
                    </ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <span>What times?</span>
            </ion-item>

            <ion-item *ngFor="let timeOfDay of doseSeries.timesOfDay; let isLast = last">
                <ion-icon item-left name="time"></ion-icon>
                <span item-left>{{timeOfDay | date:'shortTime'}}</span>
                <button item-right
                        *ngIf="isLast"
                        type="button"
                        clear small
                        (click)="removeTime()">
                    <div>Remove Time</div>
                </button>
            </ion-item>

            <ion-item>
                <ion-label>Time</ion-label>
                <ion-datetime displayFormat="h:mm A"
                              pickerFormat="h mm A"
                              minuteValues="0,15,30,45"
                              [(ngModel)]="doseTimeString">
                </ion-datetime>
                <button item-right
                        type="button"
                        clear small
                        (click)="addTime()">
                    <div>Add Time</div>
                </button>
            </ion-item>

            <ion-item>
                <button item-right
                        type="button"
                        secondary
                        (click)="cancel()">
                    <ion-icon name="close"></ion-icon>
                    <div>Cancel</div>
                </button>

                <button item-right
                        type="submit"
                        primary
                        [disabled]="!requestForm.form.valid || !doseSeries.timesOfDay.length">
                    <ion-icon name="add"></ion-icon>
                    <div>Add Medication</div>
                </button>
            </ion-item>

        </ion-list>

    </form>

</ion-content>
