<ion-card *ngIf="feedEvent">

    <ion-item>

        <ion-avatar item-left>
            <img *ngIf="feedEvent.user.picture" [src]="feedEvent.user.picture">
            <ion-icon *ngIf="!feedEvent.user.picture" name="person"></ion-icon>
        </ion-avatar>

        <h2>{{feedEvent.user.name}}</h2>

        <ion-note item-right>
            <p>{{feedEvent.actionDateTime | date:'shortTime'}}</p>
            <p>{{feedEvent.actionDateTime | date:'shortDate'}}</p>
        </ion-note>

    </ion-item>

    <ion-card-content>
        <p>
            {{feedEvent.user.name}} has
            <span class="feed-event-action"
                  [class.feed-event-taken]="feedEvent.action === 'TAKEN'"
                  [class.feed-event-missed]="feedEvent.action === 'MISSED'">{{feedEvent.action}}</span>
            a dose of medication.
        </p>
    </ion-card-content>

</ion-card>
