<ion-header>

    <dose-amigos-toolbar [title]="title"></dose-amigos-toolbar>

    <ion-toolbar *ngIf="auth.authenticated()">
        <ion-buttons left>
            <button  (click)="loadPrev()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title style="text-align:center" *ngIf="doseEvents[0]">
            {{doseEvents[0].scheduledDateTime | date:'shortTime' }}
        </ion-title>
        <ion-buttons right>
            <button (click)="loadNext()">
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content padding class="dose">

    <logon-required>

        <ion-list>

            <dose-event-slider *ngFor="let doseEvent of doseEvents"
                               [doseEvent]="doseEvent"></dose-event-slider>

        </ion-list>

    </logon-required>

    <dose-event-fab [doseEvents]="doseEvents"></dose-event-fab>

</ion-content>
