<ion-card *ngIf="doseEvent">

    <ion-item>

        <ion-avatar item-left>
            <ion-icon name="md-person"></ion-icon>
        </ion-avatar>

        <h2>{{doseEvent.user.name}}</h2>

        <ion-note item-right>
            <p>{{doseEvent.time | date:'shortTime'}}</p>
            <p>{{doseEvent.time | date:'shortDate'}}</p>
        </ion-note>

    </ion-item>

    <ion-card-content>
        <p>
            {{doseEvent.user.name}} has taken all his medication for the day.
        </p>
    </ion-card-content>

    <ion-row>
        <ion-col>

            <button primary clear small>
                <ion-icon name="md-thumbs-up"></ion-icon>
                <div>12 Likes</div>
            </button>

            <button primary clear small>
                <ion-icon name="md-text"></ion-icon>
                <div>4 Comments</div>
            </button>

        </ion-col>
    </ion-row>

</ion-card>
